


<div class="form-container">
<form [formGroup]="contactForm" (ngSubmit)="contactUs()">
  <div class=""><h2>Contact Us</h2></div>
    <div>
     
      <input id="from" class="wide-field" formControlName="from" placeholder="Enter your email so we can respond:">
      <!-- Error message for "From" field -->
      <div *ngIf="contactForm.get('from')?.invalid && (contactForm.get('from')?.touched)" class="error-message">
        <div *ngIf="contactForm.get('from')?.errors?.['required']">Email is required.</div>
        <div *ngIf="contactForm.get('from')?.errors?.['email']">Invalid email format.</div>
      </div>
    </div>
    <div>
      
      <input id="subject" class="wide-field" formControlName="subject" placeholder="Email title:">
      <!-- Error message for "Subject" field -->
      <div *ngIf="contactForm.get('subject')?.invalid && (contactForm.get('subject')?.touched)" class="error-message">
        Subject is required.
      </div>
    </div>
    <div>
    
      <textarea id="body" formControlName="body" placeholder="Message"></textarea>
      <!-- Error message for "Body" field -->
      <div *ngIf="contactForm.get('body')?.invalid && (contactForm.get('body')?.touched)" class="error-message">
        Body is required.
      </div>
    </div>
    <button type="submit">Send Email</button>
  </form>
</div>