
<div class="form-container">
<form [formGroup]="forgotPasswordForm" (ngSubmit)="sendForgotPassword()">
  <div class=""><h2>Reset password</h2></div>
    <div>
      <input id="to" class="wide-field" formControlName="to" placeholder="Enter an email:">
    
      <div *ngIf="forgotPasswordForm.get('to')?.invalid && (forgotPasswordForm.get('to')?.touched)" class="error-message">
        <div *ngIf="forgotPasswordForm.get('to')?.errors?.['required']">Please fill in an email form.</div>
        <div *ngIf="forgotPasswordForm.get('to')?.errors?.['email']">Invalid email format.</div>
      </div>
    </div>
    <button type="submit">Send link</button>
  </form>
</div>