
<!DOCTYPE html>
<html>
  <head>
    <style rel="stylesheet" href="tablemanager\src\styles.css"></style>
  </head>

  <body>
<div *ngIf="!isAdminLoggedIn && !isUserLoggedIn">
  <mat-toolbar color = "primary" class = "navbar">
    <span class="navbar-brand">Table manager</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/signup" routerLinkActive="active"  class="mat-button">Register</button>
    <button mat-button routerLink="/login" routerLinkActive="active"  class="mat-button">Login</button>
  </mat-toolbar>
</div>

<div *ngIf="!isAdminLoggedIn && isUserLoggedIn">
  <mat-toolbar color = "primary" class = "navbar">
    <span class="navbar-brand">Table manager</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/user/dashboard" routerLinkActive="active" class="mat-button">DashBoard</button>
    <button mat-button [matMenuTriggerFor]="adminMenu" class="mat-button">Menu</button>
    <mat-menu #adminMenu="matMenu">
    <button mat-button routerLink="/user/entry" routerLinkActive="active">Entries</button>
    <button mat-button routerLink="/user/tickets" routerLinkActive="active">Tickets</button>
  </mat-menu>
    <button mat-button (click) = "logout()" routerLinkActive="active" class="mat-button">Logout</button>
  </mat-toolbar>
</div>

<div *ngIf="isAdminLoggedIn && !isUserLoggedIn">
  <mat-toolbar color = "primary" class = "navbar">
    <span class="navbar-brand">Table manager</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/admin/dashboard" routerLinkActive="active" class="mat-button">Dashboard</button>
    <button mat-button [matMenuTriggerFor]="adminMenu" class="mat-button">Menu</button>
    <mat-menu #adminMenu="matMenu">
    <button mat-button routerLink="/admin/tickets" routerLinkActive="active">User tickets</button>
    <button mat-button routerLink="/admin/manageUsers" routerLinkActive="active">Manage Users</button>
  </mat-menu>
    <button mat-button (click)="logout()" routerLinkActive="active" class="mat-button">Logout</button>
  </mat-toolbar>

</div>
<router-outlet></router-outlet>
</body>
</html>