
<!DOCTYPE html>
<html>
  <head>
    <style rel="stylesheet" href="tablemanager\src\styles.css"></style>
  </head>

  <body>
<div>
  <mat-toolbar color = "primary" class = "navbar">
    <span class="navbar-brand">Table manager</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/signup" routerLinkActive="active">Register</button>
    <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
</body>
</html>