.edit-employee-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
  }
  
  .edit-employee-container h2 {
    text-align: center; 
    margin-bottom: 20px;
  }
  .error-message{
    color:rgb(241, 10, 10)
  }
  
  form{
    display: flex;
    flex-direction: column;
  }
  
  input{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  button {
    padding: 10px 15px; 
    background-color: #004896; 
    color: white; 
    border: none; 
    border-radius: 4px;
    font-size: 16px;
  }
 
  button:hover {
    background-color: #03458b;
  }
  
  button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .table-link-danger {
    margin-right: 5px;
    color: #ff2f20;
  }