/* General Reset and Layout */
html, body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Container Style */
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px; /* Ensure space for the fixed footer */
}

/* Hero Section Styles */
.hero-section {
    background-color: #f8f9fa;
    color: #080606;
    padding: 100px 20px;
    text-align: center;
}

.hero-image {
    width: 100%; /* Adjust based on desired image size */
    max-width: 600px; /* Max width for large screens */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Space below the image */
}

.hero-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.2em;
    color: #181515;
}

/* Main Content Styles */
main {
    flex: 1;
    padding: 20px;
    background-color: #f7f7f7;
}

.feature-image {
    width: 100%; /* Adjust based on desired image size */
    max-width: 500px; /* Max width for images in content area */
    height: auto; /* Maintain aspect ratio */
    margin: 20px 0; /* Space above and below the image */
}

main h3 {
    font-size: 1.8em;
    color: #194072;
    margin-bottom: 10px;
}

main p {
    font-size: 1em;
    color: #555;
    margin-bottom: 20px;
}



/* Responsive Styles */
@media (max-width: 768px) {
    .hero-section {
        padding: 70px 20px;
    }

    .hero-section h2 {
        font-size: 2em;
    }

    .hero-section p {
        font-size: 1em;
    }

    .feature-image {
        max-width: 100%; /* Full width for smaller screens */
    }

    main h3 {
        font-size: 1.6em;
    }

    main p {
        font-size: 0.9em;
    }
}

img {
    max-width: 100%; /* Ensures image does not exceed its container's width */
    height: auto;    /* Maintains aspect ratio */
}

/* Specific class for a small image */
.small-image {
    width: 150px; /* Fixed width */
    height: auto; /* Maintain aspect ratio */
}

/* Specific class for a responsive image */
.responsive-image {
    width: 50%;    /* 50% of the parent container's width */
    height: auto;  /* Maintain aspect ratio */
}