<!DOCTYPE html>
<html @fade [@inOut]="slideIn" lang="en">
<head>
    <title>Home - Tablemanager</title>
</head>
<body>
    <div class="container">
        <section class="hero-section">
            <div class="hero-content">
                <h2>Quickstart</h2>
                <p>Here is a quick overview of the application and its features.</p>
            </div>
        </section>
        
        <main>
            <div class="content">
                <h3>Create a PDF</h3>
                <img src="CreatePDF.png" alt="createPDF">
                <p>Upload a logo from your computer (the logo must be .png extention) and fill in your PDF info.</p>

                <br>
                <h3>Entries</h3>
                <img  src="Entries.png" alt="Entries Image">
                 <p>1. Set VAT percentage, 2. Add an entry, 3. Edit entry information, 4. Add entry to pdf generation list or generate PDF, 5. Delete entry</p>
                 
                 

                <h3>Edit entry</h3>
                <img src="EditEntry.png" alt="EditEntry">
                <p>By clicking edit entry, you can modify the entry.</p>

                <h3>Add entry to PDF generation list or generate PDF</h3>
                <img src="GeneratePDF.png" alt="GeneratePDF">
                <p>1. Add an item to pdf generation list. If you want multiple items to list, reopen the window on desired item and add it to list. </p>
                <p>2. Fill in the customer info and generate the PDF. PDF will be downloaded to your computer.</p>

                <h3>PDF</h3>
                <img src="PDF.png" alt="PDF">
            </div>
        </main>
        
       
    </div>
</body>
</html>