/* General Body Styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

/* Container Styling */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  padding-bottom: 60px; /* Space for fixed footer */
}

/* Table Wrapper to Center Table */
.table-wrapper {
  display: flex;
  justify-content: center; /* Centers the table horizontally */
  margin-top: 20px; /* Adds spacing above the table */
}

/* Table Styling */
.table {
  width: 100%; /* Table takes full width of its container */
  border-collapse: collapse;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  table-layout: fixed; /* Fixed layout to prevent overflow */
}

/* Table Header and Cell Styling */
.table th,
.table td {
  padding: 8px 10px; /* Reduced padding for better fit */
  text-align: center;
  border-bottom: 1px solid #ddd;
  overflow: hidden; /* Hide overflowed text */
  text-overflow: ellipsis; /* Show ellipsis for overflowed text */
  white-space: nowrap; /* Prevent text wrapping */
}

/* Table Header Styling */
.table th {
  background-color: #f2f2f2;
}

/* Table Row Hover Styling */
.table tbody tr:hover {
  background-color: #9bfcc6;
}

/* Label Styling */
.label {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 14px;
}

/* Label Variants */
.label-inactive {
  background-color: #fd2929;
}

.label-success {
  background-color: #5cb85c;
}

.table-link {
  margin-right: 5px;
  color: #3474ac;
}

.table-link-check {
  margin-right: 5px;
  color: #08eb26;
}

.table-link-danger {
  margin-right: 5px;
  color: #ff2f20;
}

.table-link-unanswered {
  margin-right: 5px;
  color: #e6fa2f;
}

.table-link-deactivate {
  margin-right: 5px;
  color: #ffd901;
}

/* Search Bar Styling */
.search-bar {
  margin-bottom: 15px;
  text-align: center;
}

.search-bar input {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  box-sizing: border-box;
  outline: none;
}

.search-bar input:focus {
  border-color: #007bff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.chart-container {
  display: flex;
  justify-content: space-between;
}

.chart-container-wrapper {
  display: flex;
  justify-content: space-between; /* Space between left and right containers */
  align-items: center; /* Align the items vertically */
}

.chart-container-left, .chart-container-right {
  flex: 0; /* Allows each container to take equal space */
  margin: 0 10px; /* Optional margin for spacing */
  padding-left: 300px;
  padding-right: 10px;
}

select {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
ngx-charts-bar-vertical {
  margin-right: 10px;
}
