<br>
<h5 class="center">How to use</h5>
<p class="paragraph">1. Select an employee</p>
<p class="paragraph">2. Select an event type</p>
<p class="paragraph">3. Select work hours</p>
<p class="paragraph">4. Click on a date to add to schedule</p>
<p class="paragraph-red">Double click on an event to remove from schedule</p>
<br>
<p><strong  class="paragraph-gray">When setting sick day, select hours that employee worked.</strong></p>
<p> <strong  class="paragraph-orange">When setting pardoned leave, select pardoned hours.</strong> </p>
<p><strong  class="paragraph-red">When setting absence, select absent hours. </strong></p>
