<div class="add-event-container">
    <h2>Add Event</h2>
    <form [formGroup]="addEventForm" (ngSubmit)="onSubmit()">
      
      <label for="employeeId">Employee:</label>
      <select id="employeeId" formControlName="employeeId">
        <option value="" disabled>Select an employee</option>
        <option *ngFor="let employee of employees" [value]="employee.id">
          {{ employee.name }}
        </option>
      </select>
      <div *ngIf="addEventForm.get('employeeId')?.invalid && addEventForm.get('employeeId')?.touched">
        <span class="error-message">Employee name is required.</span>
      </div>
  
      <label for="startDate">Start Date:</label>
      <input id="startDate" formControlName="startDate" type="datetime-local">
  
      <label for="endDate">End Date:</label>
      <input id="endDate" formControlName="endDate" type="datetime-local">
  
      <label for="eventType">Employee:</label>
      <select id="eventType" formControlName="eventType">
        <option value="" disabled>Select event type</option>
        <option value="Work">Work</option>
        <option value="Absent">Absent</option>
        <option value="Pardoned">Pardoned leave</option>
        <option value="Illness">Illness</option>
      </select>
      <div *ngIf="addEventForm.get('eventType')?.invalid && addEventForm.get('eventType')?.touched">
        <span class="error-message">Event type is required!</span>
      </div>
  
      <button type="submit" [disabled]="addEventForm.invalid">Add event</button>
    </form>
  </div>