<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Work Summary Calendar</title>

</head>
<body>
    <div class="dropdowns">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{this.currentMonth}}</mat-label>
          <mat-select (selectionChange)="onMonthSelect($event)">
            <mat-option value="1">January</mat-option>
            <mat-option value="2">February</mat-option>
            <mat-option value="3">March</mat-option>
            <mat-option value="4">April</mat-option>
            <mat-option value="5">May</mat-option>
            <mat-option value="6">June</mat-option>
            <mat-option value="7">July</mat-option>
            <mat-option value="8">August</mat-option>
            <mat-option value="9">September</mat-option>
            <mat-option value="10">October</mat-option>
            <mat-option value="11">November</mat-option>
            <mat-option value="12">December</mat-option>
          </mat-select>
        </mat-form-field>
        </div>
        <div class="search-bar">
            <input type="text"  [(ngModel)]="searchQuery" (ngModelChange)="searchEmployee($event)"  placeholder="Search employee">
          </div>
    <div class="center-container">
    
    <div class="calendar">
        <div class="calendar-header">
          <th class="calendar-cell" width="200px">Employee</th>
          <th *ngFor="let day of days" class="calendar-cell">{{ day }}</th>
          <th class="calendar-cell">Required</th>
          <th class="calendar-cell">Total</th>
          <th class="calendar-cell">Overtime</th>
        </div>
      
    
        <div *ngFor="let employee of employees" class="calendar-row">
         
          <tr class="calendar-cell employee-name">{{ employee.name }}</tr>
          <td *ngFor="let i of days" (click)="cellInfo(i, employee.id)" class="calendar-cell work-entry">{{getHoursByDay(i, employee.id) || ''}}</td>
        <td class="calendar-cell">{{getRequiredHours(employee.id)}}</td>
        <td class="calendar-cell">{{getTotalHours(employee.id)}}</td>
        <td class="calendar-cell">{{getOverTime(employee.id)}}</td>
        </div>
      </div>
    </div>
</body>
</html>