<!DOCTYPE html>
<html @fade [@inOut]="slideIn" lang="en">
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>

<div class="container">
    <div class="row">
      <h2  class="centered">Vacation list</h2>
      <br>
     
      <div class="chart-container-selector">
        <div>
          <select id="yearSelector" (change)="onDateRangeChange($event)">
            <option value="currentYear">{{currentYear}}</option>
            <option value="nextYear">{{nextYear}}</option>
          </select>
        </div>
      </div>

      <div class="chart-container">
      <ngx-charts-bar-vertical  *ngIf="loaded"
      [view]="[500, 200]"
      [scheme]="colorScheme"
      [results]="monthlyData"
      [gradient]="true"
      [xAxis]="true"
      [yAxis]="true">
      <ng-template #tooltipTemplate let-model="model">
        <div>
          <div><span>{{model.name}}</span></div>
          <br>
           <div><span> Vacations: {{model.value}}</span></div>
      </div>
    </ng-template>
    </ngx-charts-bar-vertical>
      </div>
    </div>
    <div class="col-lg-12">
        <div class="main-box clearfix">
          <div class="table-wrapper">
            <table class="table user-list">
              <thead>
                <tr>
                  <th class="text-center"> <a class="table-link" (click)="sortByEmployeeName()"  title="Sort by employee name">
                    <span class="fa-stack">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-sort fa-stack-1x fa-inverse"></i>
                    </span>
                  </a><span>Employee name</span></th>

                  <th class="text-center"> <a class="table-link" (click)="sortByStartDate()" title="Sort by start date">
                    <span class="fa-stack">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-sort fa-stack-1x fa-inverse"></i>
                    </span>
                  </a><span>Vacation start</span></th>

                  <th class="text-center"><a class="table-link" (click)="sortByEndDate()" title="Sort by end date">
                    <span class="fa-stack">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-sort fa-stack-1x fa-inverse"></i>
                    </span>
                  </a><span>Vacation end</span></th>
                   

                  <th class="text-center"> 
                    <span>Comment</span></th>

                  <th class="text-center"> <a class="table-link" (click)="sortBySubmitDate()" title="Sort by submit date">
                    <span class="fa-stack">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-sort fa-stack-1x fa-inverse"></i>
                    </span>
                  </a><span>Submitted at</span>
                 </th>


                </tr>
                <tr>
                  <th class="search-bar">  <input type="text"  [(ngModel)]="searchQuery" (ngModelChange)="searchVacation($event)" placeholder="Search employee"></th>
                 
                  <th><div>
                    <input id="startFilter" type="date" [(ngModel)]="startDate" (change)="filterDateRange()"> <button (click)="resetStartDate()" title="Reset start date filter">reset</button>
                  </div>
               
                </th>

                  <th><div>
                    <input id="endFilter" type="date" [(ngModel)]="endDate" (change)="filterDateRange()"> <button (click)="resetEndDate()" title="Reset end date filter">reset</button>
                  </div></th>

                  <th></th>
                  <th> <a class="table-link" (click)="openVacationCalendar()" title="Vacation calendar">
                    <span class="fa-stack">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                    
                    <a class="table-link-check" (click)="addRequest()" title="Add vacation">
                    <span class="fa-stack">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                    </span>
                  </a></th>
                </tr>
              </thead>
              <tbody>
                <tr (click)="updateRequest(request)" *ngFor="let request of vacationRequests" [@deleteSlide]="slideStates[request.id] || 'in'">
                  <td><a>{{getEmployeeName(request.employeeId)}}</a></td>
                  <td><a>{{request.startDate}}</a></td>
                  <td><a>{{request.endDate}}</a></td>
                  <td><a>{{request.comment}}</a></td>
                  <td><a>{{request.creationDate}}</a></td>
                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
</div>
    
</body>
</html>