<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home - Tablemanager</title>
</head>
<body>

  
    <section class="hero-section">
        <div class="container">
            <h2>Welcome to Tablemanager</h2>
            <p>Your all-in-one solution for managing your enterprises inventory and printing invoices with ease.</p>
            <p>The page is still under construction</p>
        </div>
    </section>

   
    <section id="features" class="features">
        <div class="container">
            <div class="feature">
                <h3>Inventory Management</h3>
                <p>Efficiently manage your inventory with our tools.</p>
            </div>
            <div class="feature">
                <h3>Invoice Printing</h3>
                <p>Generate and print invoices quickly to streamline your operations.</p>
            </div>
            <div class="feature">
                <h3>Real-Time Updates</h3>
                <p>Stay up-to-date with real-time inventory and sales tracking.</p>
            </div>
        </div>
    </section>

  

    <router-outlet></router-outlet>
</body>
</html>