<div class="add-employee-container">

    <h2>Add Employee</h2>
    <form [formGroup]="addEmployeeForm" (ngSubmit)="onSubmit()">
      
      <label for="employeeName">Employee Name:</label>
      <input id="employeeName" formControlName="name" type="text" placeholder="Enter employee name">
      
      <div *ngIf="addEmployeeForm.get('name')?.invalid && addEmployeeForm.get('name')?.touched">
        <span class="error-message">Employee name is required.</span>
      </div>

      <label for="email">Employee email:</label>
      <input id="email" formControlName="email" type="text" placeholder="Employee email">
      <div *ngIf="addEmployeeForm.get('email')?.invalid && addEmployeeForm.get('email')?.touched">
        <span class="error-message">Enter employee email!</span>
      </div>

      <label for="phone">Employee phone number:</label>
      <input id="phone" formControlName="phone" type="text" placeholder="Employee phone number">
      <div *ngIf="addEmployeeForm.get('phone')?.invalid && addEmployeeForm.get('phone')?.touched">
        <span class="error-message">Enter employee phone number!</span>
      </div>

      <label for="iban">Employee IBAN:</label>
      <input id="iban" formControlName="iban" type="text" placeholder="Employee IBAN">
      <div *ngIf="addEmployeeForm.get('iban')?.invalid && addEmployeeForm.get('iban')?.touched">
        <span class="error-message">Enter employee IBAN number!</span>
      </div>

      <div>
        <label>8:00 - 16:30 schedule?:</label>
        <label>
          <input 
            type="radio" 
            formControlName="customSchedule" 
            value="false" 
          /> Yes
        </label>
        <label>
          <input 
            type="radio" 
            formControlName="customSchedule" 
            value="true" 
          /> No
        </label>
      </div>

      <div>
        <label>Pay type:</label>
        <label>
          <input 
            type="radio" 
            formControlName="payType" 
            value="hourly" 
          /> Hourly
        </label>
        <label>
          <input 
            type="radio" 
            formControlName="payType" 
            value="monthly" 
          /> Monthly
        </label>
      </div>

      <label for="salary">Employee salary:</label>
      <input id="salary" formControlName="salary" type="text" placeholder="Employee salary">
      <div *ngIf="addEmployeeForm.get('salary')?.invalid && addEmployeeForm.get('salary')?.touched">
        <span class="error-message">Enter employee salary!</span>
      </div>

      <label for="contractStartDate">Start Date:</label>
      <input id="contractStartDate" formControlName="contractStartDate" type="date">
      <div *ngIf="addEmployeeForm.get('contractStartDate')?.invalid && addEmployeeForm.get('contractStartDate')?.touched">
        <span class="error-message">Start date is required!</span>
      </div>

      <div>
        <label for="photoUrl">Upload Photo:</label>
        <input type="file" (change)="onFileSelected($event)"/>
        <img *ngIf="selectedFile" [src]="selectedFile" alt="Employee Photo"/>
        </div>

      <button type="submit" [disabled]="addEmployeeForm.invalid">Add Employee</button>
    </form>
</div>