<mat-card class = mat-dialog-container>
    <h1 class= mat-dialog-title>Ticket Message</h1>
    <div class= mat-dialog-content>
    <h6 class="bold">Ticket</h6>
      <p class = mat-dialog-content>{{ ticketData.message }}</p>
    </div>
    <div class = mat-dialog-actions>
     
        <form>
          <label for="message">Message:</label>
          <textarea id="message" [(ngModel)]="ticketData.message" name="message" required></textarea>
        </form>
        <button mat-button class="actions-button" (click)="addTicket()" [disabled]="!ticketData.message">Submit</button>
      
        <button mat-button class="actions-button" (click)="onClose()">Close</button>
      </div>
    
    </mat-card>