


<div class="form-container">
<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <div class=""><h2>Reset password</h2></div>
    <div>
      <input id="password" class="wide-field" formControlName="password" type="password" placeholder="Enter a new password:">
      <div *ngIf="resetPasswordForm.get('password')?.invalid && (resetPasswordForm.get('password')?.touched)" class="error-message">
        <div *ngIf="resetPasswordForm.get('password')?.errors?.['required']">Please insert a new password</div>
      </div>
    </div>

    <div>
        <input id="passwordMatch" class="wide-field" formControlName="passwordMatch" type="password" placeholder="Repeat the password:">
        <div *ngIf="resetPasswordForm.get('passwordMatch')?.invalid && (resetPasswordForm.get('passwordMatch')?.touched)" class="error-message">
            <div *ngIf="resetPasswordForm.get('passwordMatch')?.errors?.['required']">Please repeat the password</div>
        </div>
      </div>
    <button type="submit">Reset</button>
  </form>
</div>