.typeContainer{
    display:flex;
    justify-content: center;
}

.h2-work{
    color:green;
}

.h2-pardoned{
    color:orange;
}

.h2-sick{
    color:gray;
}

.h2-absent{
    color:red;
}

.h2-vacation{
    color:blue;
}


.paragraph{
    margin-left: 10px;
    margin-right:10px;
    }
    