<div class="add-vacation-container">
    <h2>Add Vacation</h2>
    <form [formGroup]="addVacationForm" (ngSubmit)="onSubmit()">
      
      <label for="employeeId">Employee Name:</label>
      <select id="employeeId" formControlName="employeeId">
        <option value="" disabled>Select an employee</option>
        <option *ngFor="let employee of employees" [value]="employee.id">
          {{ employee.name }}
        </option>
      </select>
      <div *ngIf="addVacationForm.get('employeeId')?.invalid && addVacationForm.get('employeeId')?.touched">
        <span class="error-message">Employee name is required.</span>
      </div>
  
      <label for="startDate">Start Date:</label>
      <input id="startDate" formControlName="startDate" type="date">
  
      <label for="endDate">End Date:</label>
      <input id="endDate" formControlName="endDate" type="date">

      <label for="vacationType">Vacation type:</label>
      <select id="vacationType" formControlName="vacationType">
        <option value="" disabled>Select vacation type</option>
        <option value="main">Main vacation</option>
        <option value="payless">Payless vacation</option>
      </select>
      <div *ngIf="addVacationForm.get('vacationType')?.invalid && addVacationForm.get('vacationType')?.touched">
        <span class="error-message">Vacation type is required.</span>
      </div>
  
      <label for="comment">Comment:</label>
      <textarea id="comment" formControlName="comment"></textarea>
  
      <button type="submit" [disabled]="addVacationForm.invalid">Save</button>
    </form>
  </div>